h3{
	width: 130px;
	margin:0 auto;
	font-family: "楷体";
}
	table{
	border-collapse: collapse;
	margin: 30px auto;
}

table tr td{
	width: 90px;
	height: 20px;
	border:1px solid red;
	text-align: center;
	font-family: "楷体";
}


#hiddenTr{
	display: none;
}

div{
	width: 170px;
	margin: 70px auto;
}

div button{
	font-family: "楷体";
}
